.button:focused {

    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;

}


.title-label{
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}